* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

#cube {
    height: 350px;
    width: 350px;
    background-color: aqua;
    border: 30px solid black;
    position: relative;
    display: inline-block;
    margin-right: 0;
}

#cube::after {
    content: '';
    height: 350px;
    width: 350px;
    background-color: aqua;
    border: 30px solid black;
    position: fixed;
    left: 350px;
    top: 0;
    display: inline-block;
    margin-left: 0;
}